.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  width: 120px;
  height: auto;
  /* object-fit: contain; */
  /* display: block; */
}
