.sidebar {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 24px;
  background-color: var(--background-card, var(--background));
  height: 100vh;
  width: 233px;
  /* border-right: 1px solid var(--border, #e2e8f0); */
  position: sticky;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06); */
  overflow: hidden;
}
.sidebar.collapsed {
  width: 0;
  padding: 0;
  border-right: none;
}
.sidebarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}
.sidebarFooter {
  margin-top: auto;
  align-self: center;
}
.logo {
  transition: opacity 0.3s ease;
}
.collapsed .logo {
  opacity: 0;
}
.sidebar__list {
  /* margin-top: 16px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar__list_item{
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.submenu {
  overflow: hidden;
  transition: height 0.3s ease;
}
.submenu_toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}
.submenu_toggle:hover {
  color: var(--primary-600, #4f46e5);
}
.submenu_toggle::after {
  content: '+';
  margin-left: 8px;
  font-size: 14px;
}
