.tabContainer {
  width: 100%;
  margin-top: 0.5rem;
}

.tabList {
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  width:100%
}

.tab {
  fles: 1;
  padding: 0.75rem 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  border-bottom: 2px solid transparent;
}

.tab:hover {
  background-color: #f5f5f5;
}

.tabActive {
  border-bottom: 2px solid #0066cc;
  color: #0066cc;
}

.tabPanel {
  padding: 1rem 0;
  width: 100%
}